<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1 class="title">Home page</h1>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
      aspernatur nam voluptatibus, quo maxime unde optio natus, harum atque
      iusto vero ipsam. Ab architecto veritatis unde delectus in. Modi, a!
    </p>
    <a href="/admin/create-post">Add a new post</a>
    <hr />

    <h1 class="title">Posts</h1>
    <% if (postsArr.length <= 0) {%>
    <div>
      <h4>Nothing to see ?</h4>
      <p>Create a new post now !!!</p>
    </div>
    <% } %> <% for(let post of postsArr) { %>
    <div class="post-box">
      <p class="post-title"><%= post.title %></p>
      <a class="btn" href="/post/<%= post.id %>">See More ...</a>
    </div>
    <% } %>
  </body>
</html>
