<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1 class="title">I am home page</h1>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
      aspernatur nam voluptatibus, quo maxime unde optio natus, harum atque
      iusto vero ipsam. Ab architecto veritatis unde delectus in. Modi, a!
    </p>
    <a href="/admin/create-post">Add a new post</a>
  </body>
</html>
