<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Page</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1 class="post">I am post page</h1>
    <p class="post-description">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, nam iure
      asperiores earum nobis minus corrupti incidunt odit quia facilis quisquam
      distinctio vitae expedita magni, neque architecto ad vero et.
    </p>
  </body>
</html>
